.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    padding: 20px;
    width: 300px;
}

.login-icon {
    display: flex;
    justify-content: center;
}

.login-icon > img {
    width: 80%;
    height: 80%;
}

.form-user {
    background: none;
    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
    height: 1.5em;
}

::placeholder {
    color: #dbd4d4;
}

.form-user:focus, .form-password:focus {
    border-bottom: 2px solid #86a6eb;
}

.form-password {
    background: none;
    width: 100%;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid grey;
    outline: none;
    margin-bottom: 1em;
    height: 1.5em;
}


.form-button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.5em;
    width: 100%;
    border-radius: 10px;
    color: #210a50;
    font-weight: bold;
    background: #6190E8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright , a {
    text-decoration: none;
    text-underline: none;
    color:#6190E8;
}